/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
}

#quiz_box{
  display: flex;
  border: 10px solid  black;
  background-color: gray;
  height: 75px;
  padding: 15px;
  margin: 10%;
}