Your styles should be mobile-first and responsive

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* html {
  background-color: #feb236
} */

#body{
  display: flex;
  flex-direction: column;
  
}
img {
  max-width: 100%;
  height: auto;
}
#main{
  text-align: center;
}
.answerButton{
  display: flex;
  flex-direction: initial; 
}
.answerOptions{
  display: inline-block;
  width: 30%;
  height: 20px;

}
.question{

font-size: 30px;

}



.quiz-name {
  display: block;
  text-align: center;
  color: black;
}
.startPage {
  background: #feb236;
  padding: 40px;
  text-align: center;
}
.startPage h3 {
font-family: 'Amatic SC', cursive;
color: #484f4f;
}
#start {
  background-color: lightgrey;
  padding: 10px 40px;
  font-size: 20px;
  width: 70%;
  height: 50px;
  border: 1px solid #4CAF50;
}
#start:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.feedback-correct {
  text-align: center;
  background: #feb236;
}

.feedback-wrong {
  text-align: center;
  background: #feb236;
}

#next {
  background-color: white;
  border: 1px solid #80ced6;
  font-size: 16px;
  width: 50%;
  padding: 5px 24px;
}
#next:hover {
  background-color: #80ced6; /* Green */
  color: white;
}

.resultPage {
  padding: 40px;
  text-align: center;
}


#submit {
  background-color: white;
  border: 2px solid #008CBA;
  border-radius: 2px;
  font-size: 22px;
  width: 55%;
  height: 50px;
  padding: 5px 24px;
}

#submit:hover {
    background-color: #008CBA; /* Green */
    color: white;
  }
  #submit:disabled:hover {
    background-color: grey; /* Green */
    color: white;
    cursor: not-allowed;
  }

.resultPage {
  background: #feb236;
}
#start-over{
background-color: lavender;
  border-radius: 2px;
  border: #6b5b95 solid 2px;
  font-size: 20px;
  width: 50%;
  padding: 14px 40px;
} 

#start-over:hover {
  background-color: #6b5b95 ; /* Green */
  color: white;
}